<ibm-header name="Zichy-Vajta Konferencia Központ">
	<ibm-header-navigation>
		<ibm-header-item routerLink="catalog">Adminisztráció</ibm-header-item>
		<ibm-header-item routerLink="docs">Docs</ibm-header-item>
		<ibm-header-item routerLink="support">Support</ibm-header-item>
		<ibm-header-menu title="Adminisztráció">
			<ibm-header-item routerLink="link1">Konferenciák</ibm-header-item>
			<ibm-header-item>Szobák</ibm-header-item>
			<ibm-header-item>Foglalások</ibm-header-item>
      <ibm-header-item>Egyedi kérések</ibm-header-item>
      <ibm-header-item>Étkeztetés</ibm-header-item>
      <ibm-header-item>Ételérzékenység</ibm-header-item>
      <ibm-header-item>Belépőkártyák</ibm-header-item>
      <ibm-header-item>Vendégek</ibm-header-item>
		</ibm-header-menu>
	</ibm-header-navigation>
	<ibm-header-global>
		<ibm-header-action title="action">
			<svg ibmIcon="notification" size="20"></svg>
		</ibm-header-action>
		<ibm-header-action title="action">
			<svg ibmIcon="user--avatar" size="20"></svg>
		</ibm-header-action>
		<ibm-header-action title="action">
			<svg ibmIcon="app-switcher" size="20"></svg>
		</ibm-header-action>
	</ibm-header-global>
</ibm-header>
