<div class="starter-home" ibmGrid>
	<h1 class="title">Zichy-Vajta Konferencia Központ</h1>
	<p class="subtitle">Konferencia és szálláskezelő rendszer</p>
	<div class="body-text" ibmRow>
		<div ibmCol [columnNumbers]="{'lg': 6, 'md': 12, 'sm': 12}">
			<p>
        A szálloda területén megrendezésre kerülő egyesületi rendezvények
        lebonyolítását segíti elő az alábbi rendszer oly módon, hogy
        a teljes folyamat adatai és összefüggései egy rendszert alkotnak.
        Így átláthatóbbá teszi a bonyolult foglalásokat és az
        étkeztetésnél felmerülő ételérzékenységek kezelését.
			</p>
		</div>
		<div ibmCol [columnNumbers]="{'lg': 6, 'md': 12, 'sm': 12}">
			<ul ibmList class="list">
				<li ibmListItem>Konferenciák</li>
				<li ibmListItem>Szobák</li>
				<li ibmListItem>Foglalások</li>
				<li ibmListItem>Egyedi kérések</li>
				<li ibmListItem>Étkeztetés</li>
				<li ibmListItem>Ételérzékenység</li>
				<li ibmListItem>Belépőkártyák</li>
				<li ibmListItem>Vendégek</li>
			</ul>
		</div>
	</div>

	<ibm-tabs [isNavigation]="false">
		<ibm-tab heading="nyari-hetek">
			<p class="starter-tab-description">
				Drága Gyülekezet!<br>
        <br>
        Idén nyáron is sok szeretettel várunk benneteket Vajtára.<br>
        Mint minden évben, most is lesznek nagyszerű tanítások és dicsőítés, emellett pedig tervezünk mindenféle sportos, kreatív és szórakoztató programot.<br>
        A délelőtti és az esti bibliaórák/programok alatt a babáknak felügyeletet, a 3 éven felülieknek pedig gyerekszolgálatot szervezünk.<br>
        <br>
        A jelentkezési határidő (mindkét hétre) 2020. július 19. (vasárnap)<br>
        A regisztráció mindenki számára kötelező, aki a hét bármely programján részt szeretne venni. Ez alól egyedül a csütörtöki bemerítés kivétel.<br>
        <br>
        FIGYELEM! A regisztráció csak a teljes összeg befizetésével együtt érvényes! A befizetéshez szükséges információkat a regisztrációs lap kitöltése után egy visszaigazoló e-mail formájában kapjátok meg.<br>
        <br>
        Ha bármi kérdésetek van, keressetek bátran a nyarihetek@golgota.hu e-mail címen keresztül!<br>
        <br>
        ---------- // ----------<br>
        <br>
        Dear Church,<br>
        <br>
        You are all invited to Vajta this summer for times of teaching, worship and all kinds of creative, fun and sport activities.<br>
        Childcare for babies and children’s ministry for children over 3 years of age will be provided during the morning and evening Bible studies / programs.<br>
        <br>
        Registration deadline for both weeks: July 19, 2020 (Sunday)<br>
        Registration is mandatory for everyone who would like to take part in any of the programs of the week except the baptism on Thursday.<br>
        <br>
        ATTENTION! Your registration will be valid only after the full price is paid! All the information about the payment will be sent to you in a confirmation email after you fill out the registration form.<br>
        <br>
        For further information feel free to write to nyarihetek@golgota.hu.<br>
			</p>

      <!-- <ibm-table [data]="data">
        <ng-container ibmTableColumn name="name">
          Name
        </ng-container>
        <ng-container ibmTableColumn name="age">
          Age
        </ng-container>
        <ng-container ibmTableColumn name="city">
          City
        </ng-container>
      </ibm-table> -->



      <!-- <ibm-table-container>
        <ibm-table-header>
          <h4 ibmTableHeaderTitle>Cím</h4>
          <p ibmTableHeaderDescription>Leírás</p>
        </ibm-table-header>
      </ibm-table-container> -->

      <p class="starter-tab-description">
        Változás a regisztrációban // A change in registration<br>
        Az elmúlt évekhez képest 2 változás is történt, ezért kérünk, hogy mindent figyelmesen olvassatok végig. Amellett, hogy idén már kevesebb adatra van szükség, a családok regisztrálhatnak egyben is, így a közös adatokat elég egyszer megadni. Ahol idősebb gyermek (is) van, aki a családtól külön szálláson szeretne lenni, vagy nem a többiekkel egy napon érkezik, ott érdemes őt külön, egyéni regisztrációban leadni.<br>
        <br>
        ---------- // ----------<br>
        <br>
        There are two changes introduced compared to previous years so we are asking you to read everything carefully. Less data is required this year and families can register together providing their common information only once. Please fill out a different form if an older child would like to be housed separately from the rest of the family or arrives on a different date.<br>
        <br>
      </p>


      <ibm-table-container>
        <ibm-table-header>
          <h4 ibmTableHeaderTitle>Nyári hetek</h4>
          <p ibmTableHeaderDescription>Szállás típusok és árak</p>
        </ibm-table-header>
        <!--
          app-* components are for demo purposes only.
          You can create your own implementation by using the component source as an example.
        -->
        <ibm-table
          [model]="model"
          [stickyHeader]="false"
          [size]="size"
          [skeleton]="false"
          [enableSingleSelect]="false"
          [showSelectionColumn]="false"
          [striped]="false"
          [sortable]="false"
          [isDataGrid]="false"
        >
        </ibm-table>
      </ibm-table-container>


      <br>
      <br>
      <br>

      Egyéni regisztrációt adok le

      Családi regisztrációt adok le.

				<div ibmRow>
					<div ibmCol>
						<ibm-label helperText="Helper text">
							Text input label
							<input
								ibmText
								name="text-input-9"
								placeholder="Text input placeholder"
							/>
						</ibm-label>
					</div>
					<div ibmCol></div>
				</div>
				<div ibmRow>
					<div ibmCol></div>
					<div ibmCol></div>
				</div>

				<div ibmRow>
					<div ibmCol>
						<ibm-label helperText="Helper text">
							Text input label
							<input
								ibmText
								name="text-input-9"
								placeholder="Text input placeholder"
							/>
						</ibm-label>
					</div>
					<div ibmCol></div>
				</div>
				<div ibmRow>
					<div ibmCol></div>
					<div ibmCol></div>
				</div>

				<div ibmRow>
					<div ibmCol>
						<ibm-label helperText="Helper text">
							Text input label
							<input
								ibmText
								name="text-input-9"
								placeholder="Text input placeholder"
							/>
						</ibm-label>
					</div>
					<div ibmCol></div>
				</div>
				<div ibmRow>
					<div ibmCol></div>
					<div ibmCol></div>
				</div>

				<div ibmRow>
					<div ibmCol>
						<ibm-label helperText="Helper text">
							Text input label
							<input
								ibmText
								name="text-input-9"
								placeholder="Text input placeholder"
							/>
						</ibm-label>
					</div>
					<div ibmCol></div>
				</div>
				<div ibmRow>
					<div ibmCol></div>
					<div ibmCol></div>
				</div>

				<div ibmRow>
					<div ibmCol>
						<ibm-label helperText="Helper text">
							Text input label
							<input
								ibmText
								name="text-input-9"
								placeholder="Text input placeholder"
							/>
						</ibm-label>
					</div>
					<div ibmCol></div>
				</div>
				<div ibmRow>
					<div ibmCol></div>
					<div ibmCol></div>
				</div>

				<div ibmRow>
					<div ibmCol>
						<ibm-label helperText="Helper text">
							Text input label
							<input
								ibmText
								name="text-input-9"
								placeholder="Text input placeholder"
							/>
						</ibm-label>
					</div>
					<div ibmCol></div>
				</div>
				<div ibmRow>
					<div ibmCol></div>
					<div ibmCol></div>
				</div>


			<div ibmRow>
				<div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<ibm-clickable-tile href="https://github.com/IBM/carbon-components-angular" target="_blank">Konferenciák</ibm-clickable-tile>
				</div>
				<div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<ibm-clickable-tile href="https://angular.carbondesignsystem.com/" target="_blank">Szobák</ibm-clickable-tile>
				</div>
				<div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<ibm-clickable-tile href="https://angular.carbondesignsystem.com/documentation/" target="_blank">Foglalások</ibm-clickable-tile>
				</div>
				<div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<ibm-clickable-tile href="https://www.npmjs.com/package/carbon-components-angular" target="_blank">Egyedi kérések</ibm-clickable-tile>
				</div>
			</div>
		</ibm-tab>
		<ibm-tab heading="carbon-charts">
			<p>Description</p><br>
			<p class="starter-tab-description">
				Carbon Charts is an open-source JavaScript data visualization
				library used as a functional component of IBM's Carbon Design System.
			</p>
			<p>Other useful resources</p><br>
			<div ibmRow>
				<div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<ibm-clickable-tile href="https://github.com/IBM/carbon-charts" target="_blank">Repository</ibm-clickable-tile>
				</div>
				<div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<ibm-clickable-tile href="https://carbon-design-system.github.io/carbon-charts/" target="_blank">Demo</ibm-clickable-tile>
				</div>
				<div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<ibm-clickable-tile href="https://carbon-design-system.github.io/carbon-charts/documentation/" target="_blank">Documentation</ibm-clickable-tile>
				</div>
				<div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<ibm-clickable-tile href="https://www.npmjs.com/package/@carbon/charts" target="_blank">NPM</ibm-clickable-tile>
				</div>
			</div>
		</ibm-tab>
	</ibm-tabs>
</div>
