<div class="starter-home" ibmGrid>
	<h1 class="title">Zichy-Vajta Konferencia Központ</h1>
	<p class="subtitle">Konferencia és szálláskezelő rendszer</p>
	<div class="body-text" ibmRow>
		<div ibmCol [columnNumbers]="{'lg': 6, 'md': 12, 'sm': 12}">
			<p>
        A szálloda területén megrendezésre kerülő egyesületi rendezvények
        lebonyolítását segíti elő az alábbi rendszer oly módon, hogy
        a teljes folyamat adatai és összefüggései egy rendszert alkotnak.
        Így átláthatóbbá teszi a bonyolult foglalásokat és az
        étkeztetésnél felmerülő ételérzékenységek kezelését.
			</p>
		</div>
		<div ibmCol [columnNumbers]="{'lg': 6, 'md': 12, 'sm': 12}">
			<ul ibmList class="list">
				<li ibmListItem>Konferenciák</li>
				<li ibmListItem>Szobák</li>
				<li ibmListItem>Foglalások</li>
				<li ibmListItem>Egyedi kérések</li>
				<li ibmListItem>Étkeztetés</li>
				<li ibmListItem>Ételérzékenység</li>
				<li ibmListItem>Belépőkártyák</li>
				<li ibmListItem>Vendégek</li>
			</ul>
		</div>
	</div>

	<ibm-tabs [isNavigation]="false">
		<ibm-tab heading="nyari-hetek">
			<p class="starter-tab-description">
				Drága Gyülekezet!<br>
        <br>
        Idén nyáron is sok szeretettel várunk benneteket Vajtára.<br>
        Mint minden évben, most is lesznek nagyszerű tanítások és dicsőítés, emellett pedig tervezünk mindenféle sportos, kreatív és szórakoztató programot.<br>
        A délelőtti és az esti bibliaórák/programok alatt a babáknak felügyeletet, a 3 éven felülieknek pedig gyerekszolgálatot szervezünk.<br>
        <br>
        A jelentkezési határidő (mindkét hétre) 2020. július 19. (vasárnap)<br>
        A regisztráció mindenki számára kötelező, aki a hét bármely programján részt szeretne venni. Ez alól egyedül a csütörtöki bemerítés kivétel.<br>
        <br>
        FIGYELEM! A regisztráció csak a teljes összeg befizetésével együtt érvényes! A befizetéshez szükséges információkat a regisztrációs lap kitöltése után egy visszaigazoló e-mail formájában kapjátok meg.<br>
        <br>
        Ha bármi kérdésetek van, keressetek bátran a nyarihetek@golgota.hu e-mail címen keresztül!<br>
			</p>

      <!-- <ibm-table [data]="data">
        <ng-container ibmTableColumn name="name">
          Name
        </ng-container>
        <ng-container ibmTableColumn name="age">
          Age
        </ng-container>
        <ng-container ibmTableColumn name="city">
          City
        </ng-container>
      </ibm-table> -->



      <!-- <ibm-table-container>
        <ibm-table-header>
          <h4 ibmTableHeaderTitle>Cím</h4>
          <p ibmTableHeaderDescription>Leírás</p>
        </ibm-table-header>
      </ibm-table-container> -->

      <p class="starter-tab-description">
        Változás a regisztrációban // A change in registration<br>
        Az elmúlt évekhez képest 2 változás is történt, ezért kérünk, hogy mindent figyelmesen olvassatok végig. Amellett, hogy idén már kevesebb adatra van szükség, a családok regisztrálhatnak egyben is, így a közös adatokat elég egyszer megadni. Ahol idősebb gyermek (is) van, aki a családtól külön szálláson szeretne lenni, vagy nem a többiekkel egy napon érkezik, ott érdemes őt külön, egyéni regisztrációban leadni.<br>
      </p>


      <ibm-table-container>
        <ibm-table-header>
          <h4 ibmTableHeaderTitle>Nyári hetek</h4>
          <p ibmTableHeaderDescription>Szállás típusok és árak</p>
        </ibm-table-header>
        <!--
          app-* components are for demo purposes only.
          You can create your own implementation by using the component source as an example.
        -->
        <ibm-table
          [model]="model"
          [stickyHeader]="false"
          [size]="size"
          [skeleton]="false"
          [enableSingleSelect]="false"
          [showSelectionColumn]="false"
          [striped]="false"
          [sortable]="false"
          [isDataGrid]="false"
        >
        </ibm-table>
      </ibm-table-container>


      <br>
      <br>
      <br>

      <div ibmRow>
        <div ibmCol>
          <ibm-checkbox
            [indeterminate]="indeterminate"
            [checked]="checked"
            (indeterminateChange)="onIndeterminateChange($event)"
            (checkedChange)="onCheckedChange($event)">
            Egyéni regisztrációt adok le
          </ibm-checkbox>

          <ibm-checkbox
            [indeterminate]="indeterminate"
            [checked]="checked"
            (indeterminateChange)="onIndeterminateChange($event)"
            (checkedChange)="onCheckedChange($event)">
            Családi regisztrációt adok le.
          </ibm-checkbox>
        </div>
      </div>

      <br>
      <br>

      <div ibmRow>
        <div ibmCol>
          <ibm-label helperText="">
            Gyülekezet
            <input
              ibmText
              name="text-input-9"
              placeholder="Gyülekezet..."
            />
          </ibm-label>
        </div>
        <div ibmCol></div>
      </div>

      <br>

      <div ibmRow>
        <div ibmCol>
          <ibm-label helperText="">
            Vezetéknév
            <input
              ibmText
              name="text-input-9"
              placeholder="Vezetéknév..."
            />
          </ibm-label>
        </div>
        <div ibmCol></div>
      </div>

      <br>

      <div ibmRow>
        <div ibmCol>
          <ibm-label helperText="Helper text">
            Keresztnév
            <input
              ibmText
              name="text-input-9"
              placeholder="Keresztnév..."
            />
          </ibm-label>
        </div>
        <div ibmCol></div>
      </div>

      <br>

      <div ibmRow>
        <div ibmCol>
          <ibm-label helperText="Helper text">
            Nem
            <input
              ibmText
              name="text-input-9"
              placeholder="Nem..."
            />
          </ibm-label>
        </div>
        <div ibmCol></div>
      </div>

      <br>

      <div ibmRow>
        <div ibmCol>
          <ibm-label helperText="Helper text">
            E-mail cím
            <input
              ibmText
              name="text-input-9"
              placeholder="E-mail cím..."
            />
          </ibm-label>
        </div>
        <div ibmCol></div>
      </div>

      <br>

      <div ibmRow>
        <div ibmCol>
          <ibm-label helperText="">
            Telefonszám
            <input
              ibmText
              name="text-input-9"
              placeholder="Telefonszám..."
            />
          </ibm-label>
        </div>
        <div ibmCol></div>
      </div>

      <br>

      <div ibmRow>
        <div ibmCol>
          <ibm-label helperText="">
            Születési dátum
            <input
              ibmText
              name="text-input-9"
              placeholder="Születési dátum..."
            />
          </ibm-label>
        </div>
        <div ibmCol></div>
      </div>

      <br>

      <div ibmRow>
        <div ibmCol>
          <ibm-label helperText="">
            Korcsoport
            <input
              ibmText
              name="text-input-9"
              placeholder="Korcsoport..."
            />
          </ibm-label>
        </div>
        <div ibmCol></div>
      </div>

      <br>

      <div ibmRow>
        <div ibmCol>
          <ibm-label helperText="">
            Állampolgárság
            <input
              ibmText
              name="text-input-9"
              placeholder="Állampolgárság..."
            />
          </ibm-label>
        </div>
        <div ibmCol></div>
      </div>

      <br>

      <div ibmRow>
        <div ibmCol>
          <ibm-label helperText="">
            Ország
            <input
              ibmText
              name="text-input-9"
              placeholder="Ország..."
            />
          </ibm-label>
        </div>
        <div ibmCol></div>
      </div>

      <br>

      <div ibmRow>
        <div ibmCol>
          <ibm-label helperText="">
            Irányítószám
            <input
              ibmText
              name="text-input-9"
              placeholder="Irányítószám..."
            />
          </ibm-label>
        </div>
        <div ibmCol></div>
      </div>

      <br>

      <div ibmRow>
        <div ibmCol>
          <ibm-label helperText="">
            Étrend
            <input
              ibmText
              name="text-input-9"
              placeholder="Étrend..."
            />
          </ibm-label>
        </div>
        <div ibmCol></div>
      </div>

      <br>

      <p class="starter-tab-description">
        A szálláselosztás jelentkezési sorrendben történik, túljelentkezés esetén a jelentkezők várólistára kerülnek, és felszabaduló helyek esetén kerülnek elhelyezésre. Túljelentkezés esetén a teljes hétre jelentkezők elsőbbséget élveznek a részidős jelentkezőkkel szemben.
      </p>

      <br>

      <p class="starter-tab-description">
        Szállástípusok // Types of accommodation<br>
        A hét során ötféle szállás közül lehet választani<br>
        - Apartman: a kastélyparkban és a parkon kívül található lakások, amelyekben található 2-5 hálószoba, fürdőszoba, nappali és konyha<br>
        - Maranatha 2 ágyas szoba: A kastélyparkon kívül található épületben lévő saját fürdőszobával rendelkő szoba.<br>
        - Maranatha 4 ágyas szoba: A kastélyparkon kívül található épületben lévő saját fürdőszobával rendelkő szoba, ahol két emeltes ágy van.<br>
        - Kastély: 4-6-8 ágyas kollégiumi szoba közös fürdővel, egy épületben a programok helyszíneivel.<br>
        - Kemping: A kastély mellett kijelölt füves területen lehet felverni a sátrakat. Áram biztosított, a kempingezők a kastély fürdőszobáit használhatják, de sátorról mindenki magának gondoskodik.<br>
      </p>

      <br>

      <div ibmRow>
        <div ibmCol>
          <ibm-label helperText="">
            Érkezés napja
            <input
              ibmText
              name="text-input-9"
              placeholder="Érkezés napja..."
            />
          </ibm-label>
        </div>
        <div ibmCol></div>
      </div>

      <br>

      <div ibmRow>
        <div ibmCol>
          <ibm-label helperText="">
            Távozás napja
            <input
              ibmText
              name="text-input-9"
              placeholder="Távozás napja..."
            />
          </ibm-label>
        </div>
        <div ibmCol></div>
      </div>

      <br>

      <p class="starter-tab-description">
        Részvételi díjak // Prices<br>
        Az árak az érkezés napján vacsorát, a távozás napján reggelit, teljes napokon háromszori étkezést tartalmaznak. Az árak csomagárak, az étkezés és szállás díjának szétbontására nincs lehetőség!<br>
        Az árak tekintetében gyereknek számít az, aki a 3. életévét már betöltötte, de a 10. életévét még nem töltötte be a hét első napján. A 0-2 éves kor közötti gyermekeknek nincs részvételi díj.<br>
        <br>
        A részidős vagy szállást nem igénylő résztvevők részvételi díjáról a regisztráció és a részletek pontosítása után e-mailben egyeztetünk.<br>
      </p>

      <br>

      <div ibmRow>
        <div ibmCol>
          <ibm-label helperText="">
            Szállástípus
            <input
              ibmText
              name="text-input-9"
              placeholder="Szállástípus..."
            />
          </ibm-label>
        </div>
        <div ibmCol></div>
      </div>

      <br>

      <div ibmRow>
        <div ibmCol>
          <ibm-label helperText="">
            Speciális igény (pl. szobatárs) - Lehetőség szerint igyekszünk teljesíteni a kéréseiteket.
            <input
              ibmText
              name="text-input-9"
              placeholder="Speciális igény..."
            />
          </ibm-label>
        </div>
        <div ibmCol></div>
      </div>

      <br>

      <div ibmRow>
        <div ibmCol>
          <ibm-label helperText="">
            Speciális igény (pl. szobatárs) - Lehetőség szerint igyekszünk teljesíteni a kéréseiteket.
            <input
              ibmText
              name="text-input-9"
              placeholder="Speciális igény..."
            />
          </ibm-label>
        </div>
        <div ibmCol></div>
      </div>

      <br>

      <div ibmRow>
        <div ibmCol>
          <ibm-label helperText="">
            Fizetési mód
            <input
              ibmText
              name="text-input-9"
              placeholder="Fizetési mód..."
            />
          </ibm-label>
        </div>
        <div ibmCol></div>
      </div>

      <br>

      <div ibmRow>
        <div ibmCol>
          <ibm-label helperText="">
            Ha szeretnéd támogatni a programokat  és azokat, akik nem tudják kifizetni a teljes költséget, kérlek jelöld meg a felajánlott támogatás összegét!
            <input
              ibmText
              name="text-input-9"
              placeholder="Támogatás összege..."
            />
          </ibm-label>
        </div>
        <div ibmCol></div>
      </div>

      <br>

      <div ibmRow>
        <div ibmCol>
          <ibm-label helperText="">
            Ha szeretnél támogatást kérni, kérlek írd meg, mekkora összegre lenne szükséged!
            <input
              ibmText
              name="text-input-9"
              placeholder="Ha szeretnél támogatást kérni, kérlek írd meg, mekkora összegre lenne szükséged  ..."
            />
          </ibm-label>
        </div>
        <div ibmCol></div>
      </div>

      <br>

      <div ibmRow>
        <div ibmCol>
          <ibm-label helperText="">
            Ha szükséged van támogatásra, kérlek röviden indokold!
            <input
              ibmText
              name="text-input-9"
              placeholder="Ha szükséged van támogatásra, kérlek röviden indokold..."
            />
          </ibm-label>
        </div>
        <div ibmCol></div>
      </div>

      <br>

      <p class="starter-tab-description">
        Hozzájárulási nyilatkozat<br>
        Jelentkezésemmel elfogadom, hogy a személyes adataimat a Golgota Keresztény Gyülekezet Budapest (Bp., 1073 Erzsébet krt 13.) által kinevezett szervezők a rendezvény lezárásáig, a tábor szervezése céljából tárolják, és azokat kizárólag a szállásszolgáltatóknak továbbítsák. A Golgota Keresztény Gyülekezet Budapest a rendezvény lezárultával törli az adatokat (legkésőbb 2020.09.30-ig) - kivétel az e-mail címet, amelyre hasonló rendezvény céljával küldhet információs levelet. <br>
      </p>

      <ibm-checkbox
        [indeterminate]="indeterminate"
        [checked]="checked"
        (indeterminateChange)="onIndeterminateChange($event)"
        (checkedChange)="onCheckedChange($event)">
        Elfogadom a hozzájárulási nyilatkozatot
      </ibm-checkbox>

      <br>

      <ibm-checkbox
        [indeterminate]="indeterminate"
        [checked]="checked"
        (indeterminateChange)="onIndeterminateChange($event)"
        (checkedChange)="onCheckedChange($event)">
        Mind a regisztrációs lapon, mind a nyarihetek.golgota.hu oldalon található információkat figyelmesen elolvastam és tudomásul veszem.
      </ibm-checkbox>






      <br><br><br><br><br>


			<div ibmRow>
				<div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<ibm-clickable-tile href="https://github.com/IBM/carbon-components-angular" target="_blank">Konferenciák</ibm-clickable-tile>
				</div>
				<div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<ibm-clickable-tile href="https://angular.carbondesignsystem.com/" target="_blank">Szobák</ibm-clickable-tile>
				</div>
				<div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<ibm-clickable-tile href="https://angular.carbondesignsystem.com/documentation/" target="_blank">Foglalások</ibm-clickable-tile>
				</div>
				<div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<ibm-clickable-tile href="https://www.npmjs.com/package/carbon-components-angular" target="_blank">Egyedi kérések</ibm-clickable-tile>
				</div>
			</div>
		</ibm-tab>

		<ibm-tab heading="urlap 2">
			<p>Description</p><br>
			<p class="starter-tab-description">
				Carbon Charts is an open-source JavaScript data visualization
				library used as a functional component of IBM's Carbon Design System.
			</p>
			<p>Other useful resources</p><br>
			<div ibmRow>
				<div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<ibm-clickable-tile href="https://github.com/IBM/carbon-charts" target="_blank">Repository</ibm-clickable-tile>
				</div>
				<div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<ibm-clickable-tile href="https://carbon-design-system.github.io/carbon-charts/" target="_blank">Demo</ibm-clickable-tile>
				</div>
				<div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<ibm-clickable-tile href="https://carbon-design-system.github.io/carbon-charts/documentation/" target="_blank">Documentation</ibm-clickable-tile>
				</div>
				<div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<ibm-clickable-tile href="https://www.npmjs.com/package/@carbon/charts" target="_blank">NPM</ibm-clickable-tile>
				</div>
			</div>
		</ibm-tab>
	</ibm-tabs>
</div>
